.green-btn{
    background-color: var(--color-h2);
    border: none;
    color: var(--color-l1);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.yellow-btn{
    background-color: var(--color-a1);
    border: none;
    color: var(--color-l1);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.red-btn{
    background-color: var(--color-a3);
    border: none;
    color: var(--color-l1);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
